body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  text-align: center;
  background-color: #2D3047;
  color: #E0CA3C;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  min-height: 100vh;
}

.main-box {
  background-color: #93B7BE;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.computer-score, .player-score {
  border: 2px black solid;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.points {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result {
  border: 2px black solid;
  height: 50px;
  width: 300px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}
  
.footer {
  text-align: center;
  background-color: #2D3047;
  color: #E0CA3C;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}